In [14]:
from duneanalytics import DuneAnalytics

In [15]:

# initialize client
dune = DuneAnalytics('user', 'password')

# try to login
dune.login()

# fetch token
dune.fetch_auth_token()

# For some queries above might not work specially if using v3. Try to use below in that case:
# for example: 
# https://dune.com/queries/1105079

result_id = dune.query_result_id_v3(query_id=1948444)

# fetch execution result
data = dune.get_execution_result(result_id)
display(data)

{'data': {'get_execution': {'execution_queued': None,
   'execution_running': None,
   'execution_succeeded': {'execution_id': '01GRMV9C9QXA0VE569GZ8Q7FB7',
    'runtime_seconds': 1,
    'generated_at': '2023-02-07T02:29:14.224209Z',
    'columns': ['num_wallets', 'num_apes_bucket', 'num_apes_order'],
    'data': [{'num_wallets': 4880,
      'num_apes_order': 0,
      'num_apes_bucket': '1 üêí'},
     {'num_wallets': 626, 'num_apes_order': 1, 'num_apes_bucket': '2 üêí'},
     {'num_wallets': 421, 'num_apes_order': 3, 'num_apes_bucket': '3-10 üêí'},
     {'num_wallets': 33, 'num_apes_order': 4, 'num_apes_bucket': '10-20 üêí'},
     {'num_wallets': 4, 'num_apes_order': 5, 'num_apes_bucket': '20-30 üêí'},
     {'num_wallets': 4, 'num_apes_order': 6, 'num_apes_bucket': '30-50 üêí'},
     {'num_wallets': 4, 'num_apes_order': 7, 'num_apes_bucket': '50-100 üêí'},
     {'num_wallets': 3, 'num_apes_order': 8, 'num_apes_bucket': '100-200 üêí'},
     {'num_wallets': 1, 'num_apes_order': 11, 'num_apes_bucket': '400+üêí'}]},
   'execution_failed': None}}}

In [26]:
sql = dune.query_sql_code(query_id=1948444)
print(sql)

with agg as
    (with transfers as
        ((SELECT
        "to" as wallet,
        "tokenId" as token_id,
        'mint' as action,
        1 as value
        FROM erc721."ERC721_evt_Transfer"
        where contract_address = '\xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d'
        and "from" = '\x0000000000000000000000000000000000000000')

        union all

        (SELECT
        "to" as wallet,
        "tokenId" as token_id,
        'gain' as action,
        1 as value
        FROM erc721."ERC721_evt_Transfer"
        where contract_address = '\xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d'
        and "from" != '\x0000000000000000000000000000000000000000')

        union all

        (SELECT
        "from" as wallet,
        "tokenId" as token_id,
        'lose' as action,
        -1 as value
        FROM erc721."ERC721_evt_Transfer"
        where contract_address = '\xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d'
        and "from" != '\x0000000000000000000000000000000000000000')

        union all
        (SELECT
        "from" as wallet,
        "tokenId" as token_id,
        'burn' as action,
        -1 as value
        FROM erc721."ERC721_evt_Transfer"
        where contract_address = '\xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d'
        and "to" = '\x0000000000000000000000000000000000000000')
        )

    select
    wallet,
    sum(value) as num_apes,
    concat(round(sum(value)::numeric/10762*100,2),'% üêµ') as ownership
    from
    transfers
    group by wallet
    order by num_apes desc)
SELECT COUNT(wallet) AS num_wallets,
    CASE
        when num_apes = 0 then 'Sold üêí'
           WHEN num_apes = 1 THEN '1 üêí'
           WHEN num_apes = 2 THEN '2 üêí'
           WHEN 3 <= num_apes AND num_apes <= 10 THEN '3-10 üêí'
           WHEN 10 <= num_apes AND num_apes <= 20 THEN '10-20 üêí'
           WHEN 20 <= num_apes AND num_apes <= 30 THEN '20-30 üêí'
           WHEN 30 <= num_apes AND num_apes <= 50 THEN '30-50 üêí'
           WHEN 50 <= num_apes AND num_apes <= 100 THEN '50-100 üêí'
           WHEN 100 <= num_apes AND num_apes <= 200 THEN '100-200 üêí'
           WHEN 200 <= num_apes AND num_apes <= 300 THEN '200-300 üêí'
           WHEN 300 <= num_apes AND num_apes <= 400 THEN '300-400 üêí'
           when num_apes > 400 then '400+üêí'
       END AS num_apes_bucket,
    CASE
            when num_apes = 0 then -1
           WHEN num_apes = 1 THEN 0
           WHEN num_apes = 2 THEN 1
            WHEN 3 <= num_apes AND num_apes <= 10 THEN 3
           WHEN 10 <= num_apes AND num_apes <= 20 THEN 4
           WHEN 20 <= num_apes AND num_apes <= 30 THEN 5
           WHEN 30 <= num_apes AND num_apes <= 50 THEN 6
           WHEN 50 <= num_apes AND num_apes <= 100 THEN 7
           WHEN 100 <= num_apes AND num_apes <= 200 THEN 8
           WHEN 200 <= num_apes AND num_apes <= 300 THEN 9
           WHEN 300 <= num_apes AND num_apes <= 400 THEN 10
           when num_apes > 400 then 11
           ELSE 12
       END AS num_apes_order
FROM agg
where num_apes > 0
GROUP BY 2,3
ORDER BY num_apes_order ASC